body {
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;

}

.h1div {
  line-height: 1.2;
}

h2 {
  font-family: 'Montserrat bold', sans-serif;
  font-size: 1.4rem;
  color: #0c7b93;
  text-align: center;

}

h2>span {
  background-color: #3e99af;
  color: white;
  padding: 5px 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}



.bold {
  font-weight: 700;
}

header {
  background-color: #3e99af;

  height: 500px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("hero-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  padding: 10px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  line-height: 0.01;
  position: absolute;
  top: 25%;
  right: 26%;
}

.icons {

  left: 53%;
  top: 13%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 37%;
  position: absolute;

}


.icon {
  width: 14px;
  height: auto;
  padding: 1px;
  /* border-radius: 50%;
  border: 2px solid white;*/
  justify-content: space-between;
  display: flex;
}

.social-link {

  border-radius: 50%;
  border: solid 2px white;
  padding: 5px;
}

.profile-picture {
  position: absolute;
  top: 69%;
  left: 50%;
  border: 1.5px solid #fff;
  border-radius: 50%;
  width: 162px;
  height: 162px;
}

.summary-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 36px;
  margin-top: 0px;
  background-color: lightyellow;
}

.decoration-wrapper {
  width: 36px;
  display: flex;
  align-items: center;
  float: left;
  margin-top: 26px;
}

.line {
  width: 20px;
  height: 3px;
  background: #0c7b93;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0c7b93;
  margin-left: -3px;
}

p {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  line-height: 28px;
}

.tech-section {

  padding: 36px 36px;


}

.tech {
  text-align: center;

}

.featured-projects-section {
  padding: 36px 36px;
  background-color: lightyellow;

}

.extra-projects-article {
  display: none;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

a {
  text-decoration: none;

}

.weather-project-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("weatherapp.png");
  padding: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-img-text {
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.project-card-text {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-bottom: 2px;
}

.project-card-text>span {
  font-weight: bold;
  color: #0c7b93;
}

.tags {
  text-align: left;
  display: flex;

}

.tags p {
  font-size: 0.8rem;
}

.murdermystery-project-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("murdermystery.png");
  padding: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

mark {
  padding: 5px 10px;
  background-color: lightcyan;
  margin-right: 10px;
}

.other-projects-section {
  padding: 20px 36px 50px 36px;
  background-color: lightyellow;
}

.my-thoughts-section {
  padding: 36px 36px;
}

.reflections-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.reflections-image {
  width: 100%;
  height: auto;

}

.post-date {
  font-family: 'Roboto';
  color: #0c7b93;
  margin-bottom: 2px;
}

.reflections-text {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 1.5;

}



.more-thoughts-section {
  padding: 20px 36px 50px 36px;
  background-color: lightyellow;


}

.skills-section {
  padding: 20px 90px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

ul {
  list-style-type: none;

}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

li>span {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #0c7b93;
}

.for-more-section {
  padding: 28px 36px 50px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:
    lightyellow
}

.for-more-card {
  display: flex;
  flex-direction: column;

}

.icon-cards-box {
  display: flex;
  justify-content: space-evenly;
}


.big-icons-text {
  font-size: 0.6rem;
  font-weight: bold;
  color: #0c7b93;
  text-align: center;
  line-height: 1.2;
}

.big-icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 26px;
  flex-direction: row;

}

.big-icon>span {
  color: #3e99af;
  font-size: 2rem;
}

.big-social-link {

  border-radius: 50%;
  border: solid 2px #3e99af;
  padding: 8px;
}

.visually-hidden {
  display: none;
}

.contact-me-section {
  padding: 28px 36px;
}

.contact-card {
  text-align: center;
  margin-bottom: 30px;

}

.contact-info {
  font-family: 'Roboto', sans-serif;
  line-height: 0.5;

}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 0.8;
}

/* MEDIA QUERIES Tablet */
@media (min-width:667px) {

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .hero-text {
    right: 45%;
  }

  .profile-picture {
    left: 69%;
  }

  .icons {
    left: 70%;
    width: 30%;
    justify-content: unset;
  }

  .icon {
    width: 25px;

    padding: 5px;

  }

  .social-link {
    margin-right: 1rem;
  }

  .section {
    padding-left: 150px;
    padding-right: 150px;
  }

  .featured-project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-card {
    width: 46%;
  }

  .other-projects {
    width: 100%;
  }

  .my-thoughts-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reflections-post {
    width: 46%;
  }
}

/* MEDIA QUERIES Desktop */
@media (min-width:1025px) {

  .section {
    padding-left: 280px;
    padding-right: 280px;
  }

  .hero-text {
    right: 60%;
  }

  .profile-picture {
    width: 200px;
    height: auto;
    top: 63%;
  }

  .icon {
    width: 32px;
    padding: 5px;

  }

  .project-card {
    width: 40%;
  }

  .other-projects {
    width: 100%;
  }

  .for-more-section {
    align-items: center;
  }

  .for-more-card {
    width: 40%;
  }
}